<!-- Name - Manjinder Singh
     Date - December 11, 2020
     Course - NETD3202
     Description - This is the html page that shows the email confirmation.
-->
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h4>@ViewBag.Message</h4>

