<!-- Name - Manjinder Singh
     Date - December 11, 2020
     Course - NETD3202
     Description - This is the html page that shows the message with instruction to reset password.
-->
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<h3>Reset password instruction send to mail!</h3>
<h4>@ViewBag.message</h4>

