<!-- Name - Manjinder Singh
     Date - December 11, 2020
     Course - NETD3202
     Description - This is the html page that shows the reset password success form.
-->
@{
    ViewData["Title"] = "ResetPasswordSuccess";
}

<h1>Password reset successful</h1>

