<!-- Name - Manjinder Singh
     Date - December 11, 2020
     Course - NETD3202
     Description - This is the html page that shows all the website rules.
-->
@{
    ViewData["Title"] = "Rules";
}
<h1>@ViewData["Title"]</h1>

<h3>Rule 1</h3>
<p>Discussion forms is place where community can raise their voice and put across their opinions, so make sure to post geniune content only</p>
<h3>Rule 2</h3>
<p>Racist topic or comments are strictly prohibited.</p>
<h3>Rule 3</h3>
<p>Hate speach comments are strictly prohibited.</p>
<h3>Rule 4</h3>
<p>Bulling a certain member of community for their opinions is strictly prohibited.</p>
<h3>Rule 5</h3>
<p>Posting of sexual content is strictly prohibited.</p>
